<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Django CRM</a>
    <ul class="navbar-nav flex-row">  <!-- flex-row для горизонтального расположения -->

      {% if user.is_authenticated %}
      <li class="nav-item me-2">  <!-- me-2 для отступа справа -->
        <a class="nav-link" href="{% url 'logout' %}">Логин</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Логин</a>
      </li>
      {% endif %}

    </ul>
  </div>
</nav>